/* Some variables for quick configuration - play with numbers to find a perfect match for your setup */
:root {
  --sidebar-width: 5vw;
  --panel-width: 95vw;
  --panel-hide-offset: -20px;
  --opacity-when-hidden: 0.05;
}

/* Auto-hide address bar */
#navigator-toolbox {
  position: fixed !important;
  /* Comment out following line to get 'slide-page-down' reveal, like in F11 fullscreen mode */
  display: block;
  transition: margin-top 82ms 33ms linear, opacity 82ms 33ms linear !important;
  z-index: 2;
  opacity: 1;
  /* Spacing on the left for sidebar */
  margin-left: var(--sidebar-width);
  /* Disabled the borders, as the bottom one seemed to have unwanted top padding sometimes */
  border: none !important;
}

#navigator-toolbox,
#navigator-toolbox>* {
  /* Reduced width for panel in order to not overflow the screen on the right side */
  width: var(--panel-width);
}

#navigator-toolbox:not(:focus-within):not(:hover) {
  margin-top: var(--panel-hide-offset);
  opacity: var(--opacity-when-hidden);
}

/* Disable auto-hiding when in 'customize' mode */
:root[customizing] #navigator-toolbox {
  position: relative !important;
  opacity: 1 !important;
  margin-top: 0px;
}