/* FIND BAR */

/* CTRL+F Search Bar Border */

@media (prefers-color-scheme: dark) {
  .browserContainer>findbar {
    border-radius: 15px !important;
    margin: 0px 15px 0px 15px !important;
    border: 3px solid rgba(204, 204, 204, 0.3) !important;
    transition: border 0.3s ease !important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  }

  .browserContainer>findbar:hover {
    border: 3px solid #ccc !important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  }
}

@media (prefers-color-scheme: light) {
  .browserContainer>findbar {
    border-radius: 15px !important;
    margin: 0px 15px 0px 15px !important;
    border: 3px solid rgba(51, 51, 51, 0.1) !important;
    transition: border 0.3s ease !important;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
  }

  .browserContainer>findbar:hover {
    border: 3px solid rgba(51, 51, 51, 0.6) !important;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
  }
}

/*------------------------------------------------*/
/* Text in the center */
.browserContainer>findbar .findbar-textbox {
  border-radius: 10px !important;
  text-align: center !important;
}